<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>App2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
  <param-name>username</param-name>
  <param-value>naresh</param-value>
  </context-param>
  <context-param>
  <param-name>password</param-name>
  <param-value>reddy</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.naresh.servlets.FirstServlet</servlet-class>
    <init-param>
    <param-name>Shirt</param-name>
    <param-value>500</param-value>
    </init-param>
    <init-param>
    <param-name>Pant</param-name>
    <param-value>800</param-value>
    </init-param>
    
    
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.naresh.servlets.SecondServlet</servlet-class>
    <init-param>
    <param-name>dog</param-name>
    <param-value>300</param-value>
 
    </init-param>
    <init-param>
       <param-name>cat</param-name>
    <param-value>400</param-value>
    </init-param>
    
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
</web-app>